body {
  background-image: url("https://farm6.staticflickr.com/5520/30303321960_82d0a837f7_c.jpg");
  background-size: cover;
}
button{
  margin: 1.5em;
}
ul {
  background-color: white;
}
h1 {
  color: #eaf2ff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 0.05em 0.05em black;
}
#main-display {
  margin-top: 3em;
}

ul {
  background-color: white;
  width: 33%;
}
