body {
  background-image: url("https://farm6.staticflickr.com/5520/30303321960_e94f7e1657_c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  background-color: white;
}

h1 {
  color: #eaf2ff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 0.05em 0.05em black;
}

h2,label {
  color: #eaf2ff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 0.05em 0.05em black;
}

.btn{
  margin: 0.5em;
  border: 0.15em solid black;
  box-shadow: 0.5em 0.5em 0.5em black;
}

#main-display {
  margin-top: 3em;
}


